@font-face {
    font-family: "Montserrat";
    src: url("ressources/fonts/montserrat/Montserrat-Regular.ttf");
    src: url("ressources/fonts/montserrat/Montserrat-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "Autography";
    src: url("ressources/fonts/autography/Autography.otf");
    src: url("ressources/fonts/autography/Autography.otf") format("otf"),
}

@font-face {
    font-family: "Utendo";
    src: url("ressources/fonts/utendo/Utendo-ExtraLight.ttf");
    src: url("ressources/fonts/utendo/Utendo-ExtraLight.ttf") format("ttf"),
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.navBar{
    display: none;
}


/** Loader **/

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap:10vh;

}

.loaderAnim{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border-top: 5px solid #ff1010;
    border-bottom: 5px solid #ff1010;
    border-left: 5px solid #000000 ;
    border-right: 5px solid #000000 ;
    animation: rotateLoader 0.8s infinite;
}

.lettre {
    color: #484848;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes rotateLoader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        color: #ff1010;
        text-shadow: 0 0 7px #ff1010;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #ff1010;
        text-shadow: 0 0 7px #ff1010;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    z-index: -10;
    display: none;
}



/** Light Mode , Dark Mode **/

.backgroundColor{
    background-color: #1A1C1D;
}

.toggleMode{
    width: 14vw;
    height: 14vw;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 5px;
    background-color: #1A1C1D;
    box-shadow: 0px 0px 20px ;
    padding: 0.7em;
}

.toggleMode img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}


/** Animation Reveal **/

.revealOne{
    opacity: 0;
    transform: translateY(-100%);
    z-index: 1;
}

.revealVisible{
    opacity: 1;
    transform: translateX(0);
    transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}


/** MenuBurger **/


.boxBurger{
    width: 14vw;
    height: 14vw;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    border-radius: 5px;
    background-color: #1A1C1D;
    box-shadow: 0px 0px 20px ;
}


.containerLinesBurger{
    width: 60%;
    height: 60%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.lineBurger{
    border-radius: 50px;
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: absolute;
}

.lineBurger:nth-child(1){
    top:0px;
    left: 0px;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
}

.lineBurger:nth-child(2){
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.2s 0.2s ease-in-out;
}

.lineBurger:nth-child(3){
    bottom:0px;
    left:0px;
    transform:rotate(0deg);
    transition: transform 0.4s ease-in-out, bottom 0.4s  ease-in-out;
}

.boxBurger.active{
    background-color: #fff;
}

.boxBurger.active .lineBurger{
    background-color: #1A1C1D;
}

.boxBurger.active .lineBurger:nth-child(1){
    top:calc(50% - 5%);
    transform: rotate(45deg) ;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out, transform  0.4s ease-in-out;
}

.boxBurger.active .lineBurger:nth-child(2){
    opacity: 0;
    transition: 0s ease-in-out;

}

.boxBurger.active .lineBurger:nth-child(3){
    bottom:calc(50% - 5%);
    transform: rotate(-45deg) ;
    transition: top 0.4s 0.4s ease-in-out, left 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.sideNav {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    background-color: #000000;
    transition: top 0.3s ease;
    z-index: 99;
}

.burgerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    height: 100%;
}

.burgerA {
    font-size: 30px;
    color: #ffffff;
}


.sideNav.active {
    top: 0;
}

/** Common Styles **/

.title{
    font-family: 'Montserrat';
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 4vh;
    padding: 2vh;
    position: relative;
    line-height: 1.5;
    letter-spacing: 1px;
}

.title::after{
    content: '';
    position: absolute;
    top:0%;
    left:50%;
    transform: translateX(-50%);
    width: 30%;
    height:3px;
    border-radius: 50px;
    background-color: #ff1010;
}


.text {
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 3vh;
}

.button {
    text-align: center;
    background-color: #ff1010;
    border-radius: 50px;
    padding: 0.6em 1.2em;
    color: #fff;
    font-size: 24px;
    margin: 10% auto;
    box-shadow: 0px 5px 20px #7c0a0a;
}

.bigTitle{
    font-size: 40px;
    color: #ff1010;
    font-family: 'Utendo';
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 3vh;
    position: relative;
}
.bigTitle::after{
    content: "";
    position: absolute;
    display: block;
    height: 90%;
    width: 2px;
    background-color: #7c0a0a;
    right: -5px;
    top: 0;
    animation: cursor 1.2s infinite;
}

@keyframes cursor {
    0%{
        opacity: 1;
    }50%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.main{
    width: 100%;
}

.mainContent{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Footer **/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #900000;
    width: 100%;
    padding: 6vh;
}

.reseauxFooter{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
}

.reseauxFooter a {
    filter: drop-shadow(0px 0px 5px #000)
}

.reseauxContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.reseauxText{
    color: #fff;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
}

.reseauxTitle{
    color: #000000;
    font-size: 20px;
}

.mentionsButton{
    color: #000;
    font-size: 18px;
    text-decoration: overline;
    margin: 10px;
}


/* Pour tablette */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .toggleMode{
        width: 6vw;
        height: 6vw;
    }

    /** MenuBurger **/
    
    
    .boxBurger{
        width: 6vw;
        height: 6vw;
    }
    
    .sideNav {
        height: 100%;
        width: 30%;
        position: fixed;
        left: 100%;
        top: 0;
        background-color: #000000;
        transition: left 0.3s ease;
        z-index: 99;
    }
    
    .sideNav.active {
        left: 70%;
    }
    
    /** Common Styles **/
    
    .title{
        font-family: 'Montserrat';
        font-size: 40px;
        color: #fff;
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        padding: 2vh;
        position: relative;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .title::after{
        content: '';
        position: absolute;
        top:0%;
        left:50%;
        transform: translateX(-50%);
        width: 30%;
        height:3px;
        border-radius: 50px;
        background-color: #ff1010;
    }
    
    
    .text {
        font-size: 20px;
        line-height: 1.8;
        margin-top: 3vh;
    }
    
    .button {
        text-align: center;
        background-color: #ff1010;
        border-radius: 50px;
        padding: 0.6em 1.2em;
        color: #fff;
        font-size: 24px;
        margin-top: 3vh;
        box-shadow: 0px 5px 20px #7c0a0a;
    }
    
    .bigTitle{
        font-size: 40px;
        color: #ff1010;
        font-family: 'Utendo';
        letter-spacing: 2px;
        display: inline-block;
        margin-top: 3vh;
        position: relative;
    }
    .bigTitle::after{
        content: "";
        position: absolute;
        display: block;
        height: 90%;
        width: 2px;
        background-color: #7c0a0a;
        right: -5px;
        top: 0;
        animation: cursor 1.2s infinite;
    }
    
    @keyframes cursor {
        0%{
            opacity: 1;
        }50%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }
    
    .main{
        width: 100%;
    }
    
    .mainContent{
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /** Footer **/

    .reseauxText{
        color: #fff;
        text-align: center;
        line-height: 1.8;
        font-size: 20px;
    }

    .logoFooter{
        width: 30%;
    }

    .reseauxContent{
        background-color: #900000;
    }
    
    .reseauxTitle{
        color: #000000;
        font-size: 26px;
    }
    
    .mentionsButton{
        color: #000;
        font-size: 22px;
        text-decoration: overline;
        margin: 10px;
    }
}




/* Pour tablette en paysage et petit écran ordi */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .toggleMode{
        width: 5vw;
        height: 5vw;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    .lettre{
        font-size: 60px;
    }

    /** Animation Reveal **/
    
    .revealOne{
        opacity: 0;
        transform: translateX(-100%);
        z-index: 1;
    }
    
    .revealTwo{
        opacity: 0;
        transform: translateX(0%);
        z-index: 1;
    }
    
    .revealVisible{
        opacity: 1;
        transform: translateX(0);
        transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: 1;
    }
    
    
    /** MenuBurger **/
    
    
    .boxBurger{
        display: none;
    }  
    
    .sideNav {
        display: none;
    }
    
    /** Nav **/

    .navBar{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    .navBarLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        margin: 0 auto;
        border-radius: 500px;
        height: 5vw;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 0px 20px;
    }
    
    .navBarA{
        color: #fff;
        font-size: 20px;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: .2s ease-in-out;
    }


    /** Common Styles **/
    
    .title{
        font-family: 'Montserrat';
        font-size: 34px;
        color: #fff;
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        padding: 2vh;
        position: relative;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .title::after{
        content: '';
        position: absolute;
        top:0%;
        left:50%;
        transform: translateX(-50%);
        width: 30%;
        height:3px;
        border-radius: 50px;
        background-color: #ff1010;
    }
    
    
    .text {
        color: #fff;
        font-size: 20px;
        line-height: 1.8;
        margin-top: 3vh;
    }
    
    .button {
        text-align: center;
        background-color: #ff1010;
        border-radius: 50px;
        padding: 0.6em 1.2em;
        color: #fff;
        font-size: 24px;
        margin: 5% auto;
        box-shadow: 0px 5px 20px #7c0a0a;
    }
    
    .bigTitle{
        font-size: 50px;
        color: #ff1010;
        font-family: 'Utendo';
        letter-spacing: 2px;
        display: inline-block;
        margin-top: 16vh;
        position: relative;
    }
    .bigTitle::after{
        content: "";
        position: absolute;
        display: block;
        height: 90%;
        width: 2px;
        background-color: #7c0a0a;
        right: -5px;
        top: 0;
        animation: cursor 1.2s infinite;
    }
    
    @keyframes cursor {
        0%{
            opacity: 1;
        }50%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }
    
    .main{
        width: 100%;
    }
    
    .mainContent{
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /** Footer **/
    
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #900000;
        width: 100%;
        padding: 6vh;
    }

    .logoFooter{
        width: 30%;
    }
    
    .reseauxFooter{
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 20px;
    }
    
    .reseauxFooter a {
        filter: drop-shadow(0px 0px 5px #000)
    }
    
    .reseauxContent{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
    }
    
    .reseauxText{
        color: #fff;
        text-align: center;
        line-height: 1.8;
        font-size: 16px;
    }
    
    .reseauxTitle{
        color: #000;
        font-size: 20px;
    }
    
    .mentionsButton{
        color: #000;
        font-size: 18px;
        text-decoration: overline;
        margin: 10px;
    }
}



/* Pour Ordi */

@media only screen and (min-width: 1200px) {
    .toggleMode{
        width: 4vw;
        height: 4vw;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    .lettre{
        font-size: 80px;
    }

    /** Animation Reveal **/
    
    .revealOne{
        opacity: 0;
        transform: translateX(-100%);
        z-index: 1;
    }
    
    .revealTwo{
        opacity: 0;
        transform: translateX(100%);
        z-index: 1;
    }
    
    .revealVisible{
        opacity: 1;
        transform: translateX(0);
        transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: 1;
    }
    
    
    /** MenuBurger **/
    
    
    .boxBurger{
        display: none;
    }  
    
    .sideNav {
        display: none;
    }
    
    /** Nav **/

    .navBar{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    .navBarLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        margin: 0 auto;
        border-radius: 500px;
        height: 4vw;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 0px 20px;
    }
    
    .navBarA{
        color: #fff;
        font-size: 20px;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: .2s ease-in-out;
    }


    /** Common Styles **/
    
    .title{
        font-family: 'Montserrat';
        font-size: 34px;
        color: #fff;
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        padding: 2vh;
        position: relative;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .title::after{
        content: '';
        position: absolute;
        top:0%;
        left:50%;
        transform: translateX(-50%);
        width: 30%;
        height:3px;
        border-radius: 50px;
        background-color: #ff1010;
    }
    
    
    .text {
        color: #fff;
        margin: 3vh auto 0 auto;
        width: 90%;
        font-size: 20px;
        line-height: 1.8;
    }
    
    .button {
        text-align: center;
        background-color: #ff1010;
        border-radius: 50px;
        padding: 0.6em 1.2em;
        color: #fff;
        font-size: 24px;
        margin: 4vh auto;
        box-shadow: 0px 5px 20px #7c0a0a;
    }
    
    .bigTitle{
        font-size: 60px;
        color: #ff1010;
        font-family: 'Utendo';
        letter-spacing: 2px;
        display: inline-block;
        margin-top: 18vh;
        position: relative;
    }
    .bigTitle::after{
        content: "";
        position: absolute;
        display: block;
        height: 90%;
        width: 2px;
        background-color: #7c0a0a;
        right: -5px;
        top: 0;
        animation: cursor 1.2s infinite;
    }
    
    @keyframes cursor {
        0%{
            opacity: 1;
        }50%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }
    
    .main{
        width: 100%;
    }
    
    .mainContent{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /** Footer **/
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background-color: #900000;
        width: 100%;
    }

    .logoFooter{
        width: 40%;
    }
        
    .reseauxFooter a {
        filter: drop-shadow(0px 0px 5px #000);
    }
    
    .reseauxContentBigDiv{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .reseauxContent{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2px solid #fff;

    }
    
    .reseauxText{
        color: #fff;
        text-align: center;
        line-height: 1.8;
        font-size: 16px;
    }
    


    .reseauxTitle{
        color: #000000;
        font-size: 20px;
    }
    
    .mentionsButton{
        color: #000;
        font-size: 18px;
        text-decoration: overline;
        margin: 10px;
    }
}

