/** Page Content **/

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.galleryItem{
    width: 90vw;
    object-fit: cover;
    object-position: center;
    margin: 3% auto;
    transition: 0.3s ease-in-out;
}

.galleryItem:hover{
    outline: 2px solid #fff;
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .galleryItem{
        width: 90vw;
        object-fit: cover;
        object-position: center;
        margin: 3% auto;
        transition: 0.3s ease-in-out;
    }
    
    .galleryItem:hover{
        outline: 2px solid #fff;
        transform: scale(0.95);
        transition: 0.3s ease-in-out;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .gallery{
        gap: 5%;
        width: 80%;
    }
    
    .galleryItem{
        width: 30%;
        aspect-ratio: 1/1;
    }
    
    .galleryItem:hover{
        transform: scale(0.98);
    }
}
@media only screen and (min-width: 1200px) {
    .gallery{
        gap: 5%;
        width: 80%;
    }
    
    .galleryItem{
        width: 30%;
        aspect-ratio: 1/1;
    }
    
    .galleryItem:hover{
        transform: scale(0.98);
    }
}
